# This is a basic workflow to help you get started with Actions

name: Update Azure IP Ranges

on: workflow_dispatch

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  update_ip_ranges:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      # https://stackoverflow.com/a/53939113
      - name: Download Azure IP Ranges
        run: |
          mkdir -p ranges/azure/
          cd ranges/azure/
          MICROSOFT_IP_RANGES_URL="https://www.microsoft.com/en-us/download/confirmation.aspx?id=56519"
          MICROSOFT_IP_RANGES_URL_FINAL=$(curl -Lfs "${MICROSOFT_IP_RANGES_URL}" | grep -Eoi '<a [^>]+>' | grep -Eo 'href="[^\"]+"' | grep "download.microsoft.com/download/" | grep -m 1 -Eo '(http|https)://[^"]+')
          wget -O "ServiceTags_Public_Latest.json" $MICROSOFT_IP_RANGES_URL_FINAL
          wget $MICROSOFT_IP_RANGES_URL_FINAL
      - name: Commit Azure IP Ranges
        run: |
          git config --global user.name 'Stig Voss'
          git config --global user.email 'stigvoss@users.noreply.github.com'
          git add *
          git commit -m "Update Azure IP Ranges"
          git push
